<nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav-container">
        <div class="collapse navbar-collapse hidden-xs hidden-md" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li *ngIf="!isLoggedIn" is-active [class-name]="'tab-active'">
                    <a [routerLink]="['/Navigation/Signin']" class="btn btn-default">
                        Sign in
                    </a>
                </li>
                <li *ngIf="!isLoggedIn" is-active [class-name]="'tab-active'">
                    <a [routerLink]="['/Navigation/Signup']" class="btn btn-default">
                        Sign up
                    </a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a (click)="logout();" class="btn btn-default">
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>