<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Chat</h4>
        </div>
        <div class="panel-body">
            
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-12">
                    <textarea cols="30" rows="3" class="form-control"></textarea>
                </div>
                <div class="col-lg-offset-10 col-lg-2 text-right">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>