<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-xs-12 login-form">
            <form [ngFormModel]="form" (ngSubmit)="signUp();" class="form-group">
                <fieldset>
                    <legend>Sign Up</legend>
                    <div class="form-group">
                        <input
                                ngControl="username" #username="ngForm"
                                placeholder="Username@mail.com"
                                type="text" class="form-control" id="username" required/>
                        <div
                                *ngIf="username.touched && username.errors?.required"
                                class="alert alert-warning">Username is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                                placeholder="Password"
                                ngControl="password" #password="ngForm"
                                type="password" class="form-control" id="password" required/>
                        <div
                                *ngIf="password.touched && password.errors?.required"
                                class="alert alert-warning">Password is required.
                        </div>
                        <div
                                *ngIf="password.touched && password.errors?.minlength"
                                class="alert alert-warning">Password must be more then 6 characters.
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                                placeholder="Confirm password"
                                ngControl="confirm" #confirm="ngForm"
                                type="password" class="form-control" id="confirm" required/>
                        <div
                                *ngIf="confirm.touched && (confirm.errors?.required)"
                                class="alert alert-warning">Password is required.
                        </div>
                        <div
                                *ngIf="confirm.touched && form.errors?.confirmPassword"
                                class="alert alert-warning">Password confirmation is failed, check your password.
                        </div>
                        <div
                                *ngIf="isConfirmed"
                                class="alert alert-success">Registration Success, you will be redirected in few seconds.
                        </div>
                    </div>
                </fieldset>
                <div
                        *ngIf="isUserExist"
                        class="alert alert-info text-center">
                    User already exist.
                </div>
                <div class="text-center">
                    <button
                            id="signUpBtn"
                            [disabled]="!form.valid"
                            type="submit" class="btn btn-success has-spinner">
                        Sign Up
                        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>